### Append Rows to a Dataframe on the FLY (e.g. from another dataframe or based on a function called multiple times with different parameters)

In [1]:
import pandas as pd

In [2]:
df_metrics = pd.DataFrame(columns=['x','y','z'])
series_data = pd.Series([10,20,30], index=['x','y','z'])
for i in range(1,10):
    series_data = pd.Series([10+i,20+i,30+i], index=['x','y','z'])
    df_metrics = df_metrics.append(series_data, ignore_index=True)
df_metrics

    x   y   z
0  11  21  31
1  12  22  32
2  13  23  33
3  14  24  34
4  15  25  35
5  16  26  36
6  17  27  37
7  18  28  38
8  19  29  39