In [30]:
import pandas as pd
import json
# myjson = pd.read_json('new_mini.json')
with open('new_mini.json') as f:
    data = json.load(f)
# print(pd.DataFrame(data))
df = pd.DataFrame(data)
df
# df[['asin','brand','title']]

,asin,brand,categories,description,imUrl,price,related,salesRank,title
0,0000037214,Big Dreams,"[[Clothing, Shoes & Jewelry, Girls], [Clothing...",NaN,http://ecx.images-amazon.com/images/I/31mCncNu...,6.99,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",{'Clothing': 1233557},Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...
1,0000031887,Boutique Cutie,"[[Clothing, Shoes & Jewelry, Girls, Clothing, ...",This adorable basic ballerina tutu is perfect ...,http://ecx.images-amazon.com/images/I/314qZjYe...,6.79,"{'also_bought': ['0000031852', '0000031895', '...",{'Sports &amp; Outdoors': 8547},Ballet Dress-Up Fairy Tutu